<!-- Page Content -->
<div id="page-content-wrapper">
    <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
          </button>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="page-header">Lodash Implementation</h1>
                <p class="lead">Welcome to lodash implmentation task. As per task, here we can find five methods from lodash, implemented from scratch and can be used through this site.</p>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->